.title{
    text-align: center;
    h1{
        color: black;
    }
}


/*** Style cards characters ***/


.containerMain{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    background-color: white;
    
    
}
.cardContainer{
    margin: 60px;
    display: flex;
    flex-direction: row-reverse;
   
    img{
        width: 14em;
        border-radius: 10px 0px 0px 10px;
        border: 2px solid #97CE4C;
        border-right-style: none;
        height: auto;
        
    }
}

.card{
    display: flex;
    flex-direction: row-reverse;
    border-radius: 8px;
    margin-right: 20px;
}


.cardContent{
    
    margin-left: -1px;
    width: 20rem;
    border: 2px solid; color:#97CE4C;
    border-radius: 0px 10px 10px 0px;
    height: 14.1em;
    border-left-style: none;
    
    h2{
        margin-left: 20px;
        margin-bottom: 18px;
        margin-top: 10px;
        color: black;
    }
    p{
        margin-left: 20px;
        margin-bottom: 5px;
        color: black;
    
    }

    span{
        color: black;
        margin-left: 40px;
        margin-bottom: 10px;
        
        
    }

    
}

.status {
    position: relative;
    img{
        width: 17px;
        position: absolute;
        left: -23px;
        border: none;
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
        
    
    &.dead{
        filter: invert(18%) sepia(70%) saturate(3414%) hue-rotate(351deg) brightness(101%) contrast(104%);

     }
    
    }
}

/*** Pagination ***/
.center {
  text-align: center;
    ul{
        display: flex;
        flex-direction: row;
        text-align: center;
        margin: 20px 20px 20px 80%;
        
            
        li{
            font-size: 18px;
            margin: 5px;
            color: black;
            cursor: pointer;
            transition: 300ms;

           &:hover{
               font-weight: bold;
           } 
        }

    }
}

.pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .pagination a {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #617cb1;
    color: #52658C;
    text-decoration: none;
    margin: 1px;
    transition: 350ms;
    align-content: center;
  }

  .pagination a:hover{
    filter: brightness(0.7);
  }

  .pagination__link {
    font-weight: bold;
    color: black;
  }
  
  .pagination__link--active a {
    color: #fff;
    background: #52658C;
    transition: 400ms;
  }

  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
  }





