

.containerMain{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    background-color: white;
    
    
}
.cardContainer{
    margin: 60px;
    display: flex;
    flex-direction: row-reverse;
   
    img{
        width: 14em;
        border-radius: 10px 0px 0px 10px;
        border: 2px solid #97CE4C;
        border-right-style: none;
        height: auto;
        
    }
}

.card{
    display: flex;
    flex-direction: row-reverse;
    border-radius: 8px;
    margin-right: 20px;
}


.cardContent{
    
    margin-left: -1px;
    width: 20rem;
    border: 2px solid; color:#97CE4C;
    border-radius: 0px 10px 10px 0px;
    height: 14.1em;
    border-left-style: none;
    
    h2{
        margin-left: 20px;
        margin-bottom: 18px;
        margin-top: 10px;
        color: black;
    }
    p{
        margin-left: 20px;
        margin-bottom: 5px;
        color: black;
    
    }

    span{
        color: black;
        margin-left: 40px;
        margin-bottom: 10px;
        
        
    }

    
}

.status {
    position: relative;
    img{
        width: 17px;
        position: absolute;
        left: -23px;
        border: none;
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
        
    
    &.dead{
        filter: invert(18%) sepia(70%) saturate(3414%) hue-rotate(351deg) brightness(101%) contrast(104%);

     }
    
    }
}



